<div class="modal-header">
    <button type="button" class="close" aria-label="Close" ng-disabled="loading" ng-click="dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
    <h3 class="modal-title">Create</h3>
</div>
<div class="modal-body">
    <form name="form" class="css-form" novalidate>
    <div class="row">
        <div class="col-sm-3">Select type:</div>
        <div class="col-sm-9">
            <select class="form-control"
                    ng-options="option.name for option in availableTypes"
                    ng-model="type"></select>
        </div>
    </div>
    <br/>
    <div ng-show="type.id == 'project'">
        <div class="row">
            <div class="col-sm-3">
                Name*
            </div>
            <div class="col-sm-9">
                <span class="input-label" >
                    <input type="text" name="name" ng-model='item.name' class="form-control" placeholder="Project name" required >
                </span>
                <div class="row">
                    <div div class="col-sm-12" ng-show="form.$submitted || form.name.$touched">
                        <div class='error' ng-show="form.name.$error.required">This field is required for filling.</div>
                    </div>
                </div>
            </div>
        </div>

        <br/>
        <div class="row">
            <div class="col-sm-3">
                Description*
            </div>
            <div class="col-sm-9">
                <span class="input-label">
                     <input type="text" ng-model='item.description' name="description" class="form-control" required >
                </span>
                <div class="row">
                    <div div class="col-sm-12" ng-show="form.$submitted || form.description.$touched">
                        <div class='error' ng-show="form.description.$error.required">This field is required for filling.</div>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-sm-3">
                Add users*:
            </div>
            <div class="col-sm-9">
                <span class="input-label">
                    <select name="users" class="form-control"
                            ng-options="option.email for option in users"
                            ng-model="item.users" multiple required ></select>
                </span>
                <div class="row">
                    <div div class="col-sm-12" ng-show="form.$submitted || form.users.$touched">
                        <div class='error' ng-show="form.users.$error.required">This field is required for filling.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="type.id == 'sprint'">
        <div class="row">
            <div class="col-sm-3">
                Name*
            </div>
            <div class="col-sm-9">
                <span class="input-label p-t-0">
                    <input type="text" name="name" ng-model='item.name' class="form-control" placeholder="Sprint name" required >
                </span>
                <div class="row">
                    <div div class="col-sm-12" ng-show="form.$submitted || form.name.$touched">
                        <div class='error' ng-show="form.name.$error.required">This field is required for filling.</div>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-sm-3">
                Project*
            </div>
            <div class="col-sm-9">
                <span class="input-label p-t-0" ng-model='item.project_id'>
                <select class="form-control" name="project" ng-options="option.name for option in projects" ng-model="item.project_id" required ></select></span>
                <div class="row">
                    <div div class="col-sm-12" ng-show="form.$submitted || form.project.$touched">
                        <div class='error' ng-show="form.project.$error.required">This field is required for filling.</div>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-sm-3">
                Start date*
            </div>
            <div class="col-sm-9">
                <span class="input-label p-t-0">
                    <input name="date" ng-model='item.start_date' ui-date required >
                </span>
                <div class="row">
                    <div div class="col-sm-12" ng-show="form.$submitted || form.date.$touched">
                        <div class='error' ng-show="form.date.$error.required">This field is required for filling.</div>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-sm-3">
                End date*
            </div>
            <div class="col-sm-9">
                <span class="input-label p-t-0" >
                    <input name="date" ng-model='item.end_date' ui-date required >
                </span>
                <div class="row">
                    <div div class="col-sm-12" ng-show="form.$submitted || form.date.$touched">
                        <div class='error' ng-show="form.date.$error.required">This field is required for filling.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="(type.id ==='card')">
        <div class="row">
            <div class="col-sm-3">
                Name*
            </div>
            <div class="col-sm-9">
                <span class="input-label">
                     <input type="text" name="name" ng-model='item.name' class="form-control" placeholder="Card name" required >
                </span>
                <div class="row">
                    <div div class="col-sm-12" ng-show="form.$submitted || form.name.$touched">
                        <div class='error' ng-show="form.name.$error.required">This field is required for filling.</div>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-sm-3">
                Description*
            </div>
            <div class="col-sm-9">
                <span class="input-label">
                     <input type="text" name="description" ng-model='item.description' class="form-control" required >
                </span>
                <div class="row">
                    <div div class="col-sm-12" ng-show="form.$submitted || form.description.$touched">
                        <div class='error' ng-show="form.description.$error.required">This field is required for filling.</div>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-sm-3">
                Project*
            </div>
            <div class="col-sm-9">
                <span class="input-label">
                <select class="form-control" name="project" ng-options="option.name for option in projects" ng-model="item.project_id" required ></select></span></span>
                <div class="row">
                    <div div class="col-sm-12" ng-show="form.$submitted || form.project.$touched">
                        <div class='error' ng-show="form.project.$error.required">This field is required for filling.</div>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-sm-3">
                Assignee*:
            </div>
            <div class="col-sm-9">
                <span class="input-label">
                    <select class="form-control" name="asignee" ng-options="option.email for option in users" ng-model="item.asignee_id" required ></select></span>
                <div class="row">
                    <div div class="col-sm-12" ng-show="form.$submitted || form.asignee.$touched">
                        <div class='error' ng-show="form.asignee.$error.required">This field is required for filling.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-sm-offset-6">
            <button class="btn btn-default" ng-click="dismiss()" ng-disabled="loading">Cancel</button>
            <button class="btn btn-primary m-r-5" ng-click="save(item)" ng-disabled="loading">Save</button>
        </div>
    </div>
    </form>
</div>