<div class="modal-header">
    <button type="button" class="close" aria-label="Close" ng-click="dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
    <h3 class="modal-title">Delete project</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-sm-12">
        <h3>Are you sure to delete "{{project.name}}"?</h3>
        <div ng-show="cards">
            <h4>The following cards also will be deleted:</h4>
            <ul>
                <li ng-repeat="item in cards"><a ui-sref="mean.app.card.details({id: item._id})" target="_blank">{{item.name}}</a></li>
            </ul>
        </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4 col-sm-offset-6">
            <button class="btn btn-default" ng-click="dismiss()" ng-disabled="loading">Cancel</button>
            <button class="btn btn-primary m-r-5" ng-click="delete()" ng-disabled="loading">Delete</button>
        </div>
    </div>
</div>