body{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
button.btn-collapse{
    border: none;
    background: inherit;
}
button.btn-collapse:hover{
    text-decoration: underline;
}
.m-t-30{
    margin-top:30px;
}
.hr-card {
    margin-top: 7px;
    margin-bottom: 7px;
    border-top: 3px solid #eee;
}

.m-r-5{
    margin-right: 5px;
}