body{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
button.btn-collapse{
    border: none;
    background: inherit;
}
button.btn-collapse:hover{
    text-decoration: underline;
}
.m-t-30{
    margin-top:30px;
}
.hr-card {
    margin-top: 7px;
    margin-bottom: 7px;
    border-top: 3px solid #eee;
}

.m-r-5{
    margin-right: 5px;
}
.m-t--8{
    margin-top: -8px;
}
.css-form input.ng-invalid.ng-touched {
    border-color: red;
}

.css-form input.ng-valid.ng-touched {
    border-color: #78FA89;
}
.error{
    color: darkred;
    font-size: 12px;
}