<div id="header">
    <h1 class="center">Hello Mean Task</h1>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
         <!--Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right" ng-show="showMenu()">
              <li>
             <a ng-href="#/auth" ng-click="logOut()">Logout</a>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
</div>
<nav class="navbar navbar-default" ng-show="showMenu()">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand fa fa-angellist fa-2x" href="#/dashboard"><span>Dashboard</span></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><button type="button" class="btn btn-default navbar-btn" ng-click="createNew()">Create</button></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div id="main-content">
    <div id="content">
        <div id="app-content-wrapper">
            <div id="app-content">
                <div class="container-fluid">
                    <ui-view/>
                </div>
            </div>
        </div>
    </div>
</div>
