<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-login">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6">
                            <a ng-class="{active: selected=='login'}" id="login-form-link" ng-click="selected='login'" >Login</a>
                        </div>
                        <div class="col-xs-6">
                            <a ng-class="{active: selected=='register'}" id="register-form-link" ng-click="selected='register'">Register</a>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form id="login-form" role="form" style="display: block;" ng-show="selected=='login'">
                                <div class="form-group">
                                    <input type="text" ng-model="user.email" name="email" id="email" tabindex="1" class="form-control" placeholder="Username" value="">
                                    <span ng-show="error.email">{{error.email}}</span>
                                </div>
                                <div class="form-group">
                                    <input type="password" ng-model="user.password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password">
                                    <span ng-show="error.password">{{error.password}}</span>
                                </div>
                                <div class="form-group text-center">
                                    <input type="checkbox" tabindex="3" class="" name="remember" id="remember">
                                    <label for="remember"> Remember Me</label>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <span ng-show="error.common">{{error.common}}</span>
                                            <input ng-click="login()" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="text-center">
                                                <a href="/" tabindex="5" class="forgot-password">Forgot Password?</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </form>
                            <form id="register-form" method="post" role="form" style="display: block;" ng-show="selected=='register'">
                                <div class="form-group">
                                    <input type="email" ng-model="user.email" name="email" id="email" tabindex="1" class="form-control" placeholder="Email Address" value="">
                                    <span ng-show="error.email">{{error.email}}</span>
                                </div>
                                <div class="form-group">
                                    <input type="password" ng-model="user.password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password">
                                    <span ng-show="error.password">{{error.password}}</span>
                                </div>
                                <div class="form-group">
                                    <input type="password" ng-model="user.password_repeat" name="confirm-password" id="confirm-password" tabindex="2" class="form-control" placeholder="Confirm Password">
                                    <span ng-show="error.password">{{error.password}}</span>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <span ng-show="error.common">{{error.common}}</span>
                                            <input type="submit" ng-click="register()" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Register Now">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>