<div class="row">

	<div class="col-sm-6">
		<h3>Project involved in</h3>
		<ul ng-repeat="item in projects">
			<li><a ui-sref="mean.app.project.view({id: item._id})">{{item.name}}</a>
			</li>
		</ul>
	</div>
	<div class="col-sm-6">
		<h3>Assigned cards</h3>
		<table id="myTable" class="tablesorter">
			<thead>
			<tr>
				<th>#</th>
				<th>Name</th>
				<th>Status</th>
				<th>Project</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="item in cards">
				<td>{{$index + 1}}</td>
				<td><a ui-sref="mean.app.card.details({id: item._id})">{{item.name}}</a></td>
				<td><span>{{item.status}}</span></td>
				<td><span>{{getProjectName(item.project_id)}}</span></td>
			</tr>
			</tbody>
		</table>
	</div>
</div>