<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12">
		<h2>{{project.name}} project</h2>
		<hr>
	</div>
</div>
<div class="panel-group">
	<div class="panel panel-default" ng-show="currentSprint">
		<div class="panel-heading">
			<h4 class="panel-title">
				<button class="btn-collapse" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
					{{currentSprint.name}} {{currentSprint.start_date | date :  "dd.MM.y"}} - {{currentSprint.end_date | date :  "dd.MM.y"}}
				</button>
			</h4>
		</div>
		<div id="collapse1" class="panel-collapse collapse in">
			<div class="panel-body simpleDemo">
				<div class="row">
					<div ng-repeat="(listName, list) in models.lists">
						<div class="panel panel-info col-lg-4 col-md-4 col-sm-4">

								<div class="panel-heading">
									<h3 class="panel-title ng-binding">{{listName}}</h3>
								</div>
							<div class="panel-body">
							<ul dnd-list="list[0]" dnd-drop="callback({targetList: list[0], targetIndex: index, targetName: listName})">
								<!-- The dnd-draggable directive makes an element draggable and will
									 transfer the object that was assigned to it. If an element was
									 dragged away, you have to remove it from the original list
									 yourself using the dnd-moved attribute -->
								<li ng-repeat="item in list[0]"
									dnd-draggable="null"
									dnd-callback="onDrop(list[0], $index, targetList, targetIndex, listName, targetName)">
									<a ng-href="#/card/{{item._id}}">
										{{item.name}} - {{item.description}}
									</a>
								</li>
							</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<button class="btn-collapse" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
					Backlog
				</button>
			</h4>
		</div>
		<div id="collapse3" class="panel-collapse collapse">
			<div class="panel-body simpleDemo">
				<div class="row">
					<div ng-repeat="list in models.backlog">
						<ul dnd-list="list" dnd-drop="callback({targetList: list, targetIndex: index, targetName: listName})">
							<!-- The dnd-draggable directive makes an element draggable and will
								 transfer the object that was assigned to it. If an element was
								 dragged away, you have to remove it from the original list
								 yourself using the dnd-moved attribute -->
							<li ng-repeat="item in list"
								dnd-draggable="null"
								dnd-callback="onDrop(list, $index, targetList, targetIndex, listName, targetName)">
								<a ng-href="#/card/{{item._id}}">
									{{item.name}} - {{item.description}}
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
